*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --primary: #7cb342;
    --primary-hover: #8bc34a;
    --primary-focus: rgba(124, 179, 66, 0.25);
    --primary-inverse: #FFF;
  }
}

button {
  --background-color: var(--primary);
}
